@media screen and (max-width: 390px) {
.inicio img{
    display: none;
}
.inicio{
    margin-bottom: 400px;
}
footer{
    width: 250%;
}
#logo-footer{
   display: none;
}
#contato{
    flex-direction: column;
}
.form-contato p{
    display: none;
}

.form-contato form{ 
    flex-direction: column;    
}

#redes-sociais{
    margin-left: 20px;
    flex-direction: column;
    align-items:start;
}
#redes-sociais img{
    width: 30px;
    border-radius: 0%;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.form-contato input{
    max-width: 200px;
}   
#creditos p{
    font-size: 15px;
    float: left;
}
}

    @media screen and (min-width: 391px) and (max-width: 1024px) { 
    .cabeçalho{
        padding: 28px 8%;
        width: 100%;
    }
    .logo{
        font-size: 40px;
    }
    .navbar a{
        font-size: 25px;
    }
    .navbar a:hover{
        border-bottom: 6px solid var(--cinza-escuro);
    }
    .navbar a:active{
        border-bottom: 6px solid var(--azul-escuro);
    }
    .projeto{
        padding: 18px;
        border-radius: 8px;
        font-size: 20px;
    }
    main{
        padding-top: 5rem;
    }
    img{
        width: 200px;
    }
    h1{
        font-family: var(--fonte-titulo);
        font-size:50px;
        width: 500px;
    }
    h2{
        font-family: var(--fonte-texto);
        font-style: italic;
        font-size: 0px;
    }
    
    p{
        font-family: var(--fonte-texto);
        font-size: 25px;
       
    }
    #contato p{
      font-size: 17px;
    }
    .form-contato h3{
       font-size: 20px;
       margin-bottom: 30px;
       min-width: 150px;
    }
    
    .form-contato p{
        font-size: 12px;
    }
    }