@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Rufina:wght@400;700&display=swap');
@import url(header.css);
@import url(portifolio.css);
:root{
    --branco:#d3d3d3;
    --cinza-claro: #9c9c9c;
    --cinza-escuro: #676767;
    --azul-claro: #8a9a9f;
    --azul-escuro: #808d98;
    --azul-escuro-escuro:#515d66;
    --preto: #25282d;
    --verde: #949e7c;
    --verde-escuro:#4f5541;

    --fonte-titulo:"Rufina", serif;
    --fonte-texto:"Oxygen", sans-serif;
}
body{

    background-color: var(--branco);
}
main{
    padding-top: 6rem;
}
img{
    width: 500px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px 5px var(--azul-escuro);
}
h1{
    font-family: var(--fonte-titulo);
    font-size:50px;
    width: 500px;
}
h2{
    font-family: var(--fonte-texto);
    font-style: italic;
    font-size: 18px;
}
p{
    font-family: var(--fonte-texto);
    font-size: 15px;
    margin: 5px 0px 5px;
}
.inicio{
    padding: 28px 8%;
    gap: 6rem;
    align-items: center;
    display: flex;
    min-height: 100vh;
}
.bt-inicio{
    width: 600px;
    display: flex;
}